body
{
    background-color: #36393f;
}
#logo-img
{
    width: 20vmin;
    height: auto;
    display: block;
    margin: auto;
    padding: 0px 0 0 0;
}
div
{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
#loading-div
{
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes loading
{
    0%
    {
        transform: translateY(0px);
    }   
    50%
    {
        transform: translateY(-20px);
    } 
    100%
    {
        transform: translateY(0px);
    }
}
.container
{
    border:#8d8d8d #000000 #000000 #000000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    box-shadow: 1px 1px 8px #000000;
}
.main-container
{
    border:#8d8d8d #000000 #000000 #000000;
    border-width: 1px;
    border-style: solid;
    height: 65vh;
    margin-top: 1vh;
    padding: 20px;
    box-shadow: 1px 1px 8px #000000;
}