body
{
    background-color: #36393f;
}
#logo-img
{
    width: 70vmin;
    height: auto;
    display: block;
    margin: auto;
    padding: 0px 0 0 0;
}
div
{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
#loading-div
{
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes loading
{
    0%
    {
        transform: translateY(0px);
    }   
    50%
    {
        transform: translateY(-30px);
    } 
    100%
    {
        transform: translateY(0px);
    }
}
.container
{
    border:gray;
    border-width: 2px;
    border-style: solid;
}