*
{
    margin: 0;
}
body
{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.container-main
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171720;
    height: 100%;
    width: 100%;
}
