*
{
    margin: 0;
}
body
{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.container-main
{
    display: flex;
    justify-content: center;
    background-color: #171720;
    height: 100%;
    width: 100%;
}
.container-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    background-color: #202030;
    padding: 3rem;
}
#container-header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    border: white 1px solid;
    height: 10em;
}
#container-logo
{
    border: rgb(226, 43, 217) 1px solid;
    height: 10rem;
    width: 10rem;
}
#logo-svg
{
    width: 100%;
}
#container-info
{
    padding: 1rem;
    font-weight: 900;
    font-size: 1.5em;
}
#container-middle
{
    background-color: brown;
    border: cornsilk 1px solid;
    width: 100%;
    margin-top: 2em;
    height: 100%;
}